


.container {
            background:url(https://eng-dev.stanford.edu/sites/default/files/styles/full_width_banner_tall/public/chalkboard_web.jpg?itok=xqk3ef56) ;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 100vh;
           
        }

#card {
            align-items: center;
            background-color: rgb(58, 58, 58);
            box-shadow: 3px 13px 21px 22px rgba(0,0,0,0.88);
            border-radius: 10px;
            justify-content: center;
            margin: auto;
            text-transform: uppercase;
            width: 300px;
           
        }

    h1 {
            color: whitesmoke;
            margin-bottom: 20px;
            text-align: center;
           
        }

 .input {
            background-color: white;
            margin-bottom: 10px;
            
        }

.input-group {
            justify-content: center;
        
        }

.icon-wrapper {
        background-color: whitesmoke;
        height: 28px;
       
        }
#button1 {
            border: none;
            display: block;
            text-transform: uppercase; 
            width: 60%;
          
        }
#button2 {
            border: none;
            display: block;
            margin: 10px;
            text-transform: uppercase; 
            width: 60%;
          
        }

#forgot-password {
            text-transform: lowercase;
            
        } 

label {
            color: whitesmoke;
            margin-bottom: 10px;   
            text-transform: lowercase;   

        }

